<div class="logincontainer">
  <form [formGroup]="form" (ngSubmit)="login($event)">
    <mat-card>
      <img class="Logo" src="assets/images/logo_logistica.png" alt="Logistica S.A." width="233">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input matInput type="text" placeholder="Usuario" formControlName="usuario">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input matInput [type]="hidePass? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
              <button mat-icon-button matSuffix (click)="hidePass=!hidePass" [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!paso1">
          <div class="col-xs">
            <mat-form-field class="full-width-field">
              <mat-label>Token SMS</mat-label>
              <input matInput [type]="hideToken? 'password' : 'text'" placeholder="Código SMS" formControlName="token">
              <button mat-icon-button matSuffix (click)="hideToken = !hideToken" [attr.aria-label]="'Ocultar Token SMS'" [attr.aria-pressed]="hideToken">
                <mat-icon>{{hideToken? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Aceptar</button>
        <button *ngIf="!paso1" mat-raised-button type="button" (click)="volverAlPaso1()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
