
<footer class="footer py-1 container-fluid fixed-bottom animated slow shadow-sm bg-light" >
    <div class="row">
        <div class="col-12">
            <div class="d-md-flex align-items-center">
                <span>
                    <i class="mr-1 fa fa-copyright" aria-hidden="true"></i>
                    <img src="assets/images/logo-laol-pie.svg" class="" alt="La Anónima" width="125">
                    PORTAL 2020 v1.0 <em style="font-size:xx-small">(powered by Angular {{version}})</em>
                </span>
                <span class="ml-auto">
                    <i class="fa fa-phone-square" aria-hidden="true"></i> Mesa de ayuda (011) 1111.1111 <i class="fa fa-clock" aria-hidden="true"></i> 24hs de L a S
                </span>
            </div>
        </div>
    </div>
</footer>
